@font-face {
    font-family: Lancelot-Regular;
    src: url(../Assets/Lancelot-Regular.ttf);
  }

.Home-recommended {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: solid 1px black; */
    flex-direction: column;
    width:80%;
    font-family: Lancelot-Regular;
}

.Home-All-Carts{
    display: flex;
    place-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    align-content: center;
    justify-content: center;

    
}
img{
    width:150px;
    height:150px
}
.Home-Cart-Title{
    display: flex;
    justify-content: center;
}

.Home-Previous, .Home-Next{
    width:64px;
    height: 64px;
}

.Home-Cart-Title, .Home-Special{
    font-size: 50px;
    font-family: Lancelot-Regular;
}

.Home-Special{
    color: #C11708;
    margin-left: 10px;
}
