.Home-recommended{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    border: solid 1px black;
 
}

.Home-All-Carts{
    margin: 30px;
    display: flex;
    border: 1px solid lightblue;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
img{
    width:150px;
    height:150px
}
.Home-Cart-Title{
    display: flex;
    justify-content: center;
}

