
.Home-Product-Description{
    margin: 40px;
}
.Home-Cart{
    /* border: 1px solid red; */
    display: flex;
    margin:20px;
    height: 400px;
    width: 300px;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    box-shadow: 2px 10px 5px gray;
    border-radius: 25px;
}

/* border radius is always 25px  */
.Home-Cart img{
    object-fit: cover;
}