.Footer {
    display: flex;
    align-items:center;
    height: 300px;
    background-image: url('../Assets/headerimage1.jpg');
    object-fit: cover;
    background-position: center top;
    justify-content: space-around;
    margin-top: 100px;
}

.footerlogo {
    height: 150px;
    width: 150px;
    height: fit-content;
}

.ulfooter {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 35px;
    font-weight: bold;
}

.ulfooter1 {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.iglogo {
    filter: brightness(20%);
    height: 40px;
    width: 40px;
}
.contactinfo {
    /* margin-bottom: 95px; */
    display: flex;
    flex-direction: column;
    gap: 35px;
}



@media (max-width: 1000px) {
    .iglogo {
        filter: brightness(20%);
        height: 25px;
        width: 25px;
    }
}
@media (max-width: 800px) {
    .iglogo {
        filter: brightness(20%);
        height: 20px;
        width: 20px;
        margin-right: -10px;
    }
    .phonelogo {
        margin-right: -10px;
    }
    .ulfooter li {
        margin-left: -30px;
    }
}

