body{
    margin: auto;
    
    
}
header {
    
    font-size: 20px;
    overflow: hidden;
    background-image: url('../Assets/headerimage1.jpg');
    background-size: 100% ;
    

   }

.Home-container{
    display: flex;
    justify-content: space-around;
    flex-shrink: inherit;
    gap: 100px;
    flex-direction: row;
    align-items: center;
    
}
   
 
.phonelogo {
    filter: brightness(20%);
    height: 40px;
    width: 40px;
    }

.phonenumber {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 200px;
}
.headerlogo {
    height: 150px;
    width: 150px;
    /* margin-right: 50px; */
    height: fit-content;
}

.ulheader {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
  }




  /* media query
   */

.header_nav_mobile{
    height: 200px;
}
.header_nav_mobile{
    background-image: url('../Assets/headerimage1.jpg');
    border: solid rgb(254, 4, 4) 5px;

}
.header_nav_mobile ul{
    border: blue 2px solid;
    list-style: none;
    
    display: flex;
    
    flex-direction: column;
  
    gap: 20px;
    position: absolute;
}


@media only screen and (max-width: 480px){
    .Home-container{
        display: none;

    }
  
    .header_nav{
        width: 90px;
    }

    .header_icon{
        display: flex;
        margin-top: 100px;
    }
}   
