@font-face {
    font-family: Lancelot-Regular;
    src: url(../Assets/Lancelot-Regular.ttf);
  }



.Home-History{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: Lancelot-Regular;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
}

#Home-History-Image{
    width: 700px;
    height: 700px;
    margin-top: 50px;
    }

.Home-History-Span{
    color: #C11708;
}



    .Info {
        display: flex;
        margin-left: 50px;
        flex-direction: column;
        width: 40%;
        /* justify-content: center; */
        }


.Info .Home-History-Header{
    font-size: 60px;
    
    }


.Info .Home-History-SubHeader{
    text-align: justify;
    font-size: 30px;
}


@media all and (max-width: 1210px){
    

    #Home-History-Image{
        width: 370px;
        height: 450px;
        margin-top: 50px;}
    
}





