
@font-face {
    font-family: Lancelot-Regular;
    src: url(../../Client-Side/Assets/Lancelot-Regular.ttf);
  }


body{
    margin: auto;
    

}

.SideBar{
    min-height: 100vh;
    height: auto;
    width: 200px;
    padding-top: 40px;
    background-image: url('../Assets/headerimage1.jpg');
     

}

.SideBar-logo{
    width:175px;
    height: 150px;
}


.SideBar-options{
    display: flex;
    flex-direction: column;
    gap:80px;
    margin-top: 85px;
    

}

.SideBar-menu-item  {
    width: 200px;
    height: 65px;
    border: none;
    color: white;
    background-color: #333333;
    font-size: 40px;
    font-family: Lancelot-Regular;
}


.SideBar-logout{
    margin-top: 105px;
}

